body {
    min-height: 2000px;
    background: linear-gradient(to top, #614646, black, #614646, black);
}



#logo {
    height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#top {
    display: block;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 1000;
}

#row1 {
    
    z-index: 100;
}

.col-md-3 {
    text-align: center;
    z-index: 100;
}

.vid {
    width: 90%;
    padding-top: 5em;
}

#que {
    display: block;
    
    padding-top: 10em;
    text-align: center;
    
    z-index: 2000;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: navajowhite;
}

